<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hostels - Nestclub</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hostels.css') }}">

</head>
<body class="text-light">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Nestclub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">&#9776;</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/survey">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/privacy-policy">Terms&Guidelines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-light contact-us" href="/contactus">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container my-5 fade-in">
    {% if hostels %}
      <h2 class="mb-4">Featured Properties</h2>
      <p class="mb-5">Explore our handpicked selection of featured properties. Each listing offers a glimpse into exceptional homes and investments available through Nestclub. Click "Details" for more information.</p>
      <div class="row">
        {% for key,hostel in hostels.items() %}
        <div class="col-md-4 mb-4 fade-in">
          <div class="card bg-dark text-light">
            <img src="{{ hostel['Preview']['hostel_image'] }}" class="card-img-top" alt="Seaside Serenity Villa">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ hostel['name'] }}</h5>
              <p class="card-text">{{  hostel['Preview']['hostel_desc'] }} <a href="#" class="text-info">Read More</a></p>
              <p>
                {% for j in  hostel['Preview']['card_badges'] %}
                <span class="badge badge-info">{{ j }}</span>
                {% endfor %}
              </p>
              <div class="mt-auto card-footer">
                <span class="card-text">{{  hostel['Preview']['hostel_price'] }}</span>
                <a href="/hostel-details/{{ key }}" class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <h2 class="mb-4 text-center fade-in">We're sorry!</h2>
        <p class="mb-5 text-center fade-in"> There is no hostels here according to your need.</p>
        <div class="row">
      {% endif %}
    </div>
    <div class="text-center fade-in">
      <a href="#" class="btn btn-secondary" style="background-color: lightcoral; font-weight: bold;">End</a>
    </div>
  </div>

  <footer class="footer fade-in">
    <p>&copy; 2024 Nestclub. All rights reserved.</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const observerOptions = {
        threshold: 0.1
      };
      
      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add('visible');
            observer.unobserve(entry.target);
          }
        });
      }, observerOptions);
      
      const elementsToObserve = document.querySelectorAll('.fade-in');
      elementsToObserve.forEach(element => {
        observer.observe(element);
      });
    });
  </script>
</body>
</html>
